@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');
@import "scss/card.scss";
$rouge :hsl(0, 78%, 62%);
$Cyan : hsl(180, 62%, 55%);
$Orange : hsl(34, 97%, 64%);
$blue:hsl(212, 86%, 64%);
$title_color:hsl(234, 12%, 34%);
$p_color:hsl(229, 6%, 66%);
$bg_color:hsl(0, 0%, 98%);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  height: 100vh;
  margin: 0px auto;
  background-color: $bg_color;
  padding-top: 5rem;
}

body {
  font-family: 'Poppins', sans-serif;

}

header {
  text-align: center;

  h1 {
    color: $title_color;
    font-weight: 200;
    font-size: 2.5rem;

    span {
      font-weight: 600;
      padding-bottom: 2.5rem;
    }
  }

  p {
    color: $p_color;
    padding-bottom: 3.5rem;
  }
}

.carts {
  display: grid;
  grid-template-columns: 0.65fr .65fr .65fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  max-width: 1100px;
  margin: 0px auto;

  &__Supervisor {
    // @extend %card;
    @include card(340px,$Cyan);
    grid-column: 1/2;
    grid-row: 2/4;
    
  }

  &__Team {
    // @extend %card;
    @include card(340px,$rouge);
    grid-column: 2/3;
    grid-row: 1/3;
    
  }

  &__Karma {
    // @extend %card;
    @include card($color_border:$Orange, $mw:340px);
    grid-column: 2/3;
    grid-row: 3/5;
    
  }

  &__Calculator {
    // @extend %card;
    @include card(340px,$blue);
    grid-column: 3/4;
    grid-row: 2/4;
  }
}

// %card {
//   padding: 1.5rem;
//   background-color: white;
//   border-radius: 5Px;
//   max-width: 340px;
//   line-height: 2;
//   box-shadow: 0px 0px 10px $p_color;


//   h5 {
//     color: $title_color;
//   }

//   p {
//     color: $p_color;
//     font-size: 0.8rem;
//   }

//   img {
//     margin-top: 2rem;
//     float: right;
//     margin-bottom: 1rem;
//   }
// }

 



  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      max-width: 342px;
      margin: 0px auto;
      background-color: hsl(0, 0%, 98%);
    }

    header {
      h1 {
        font-size: 1.5REM;
      }

      p {
        margin: 1rem 0 3rem 0 !important;
        font-size: 0.7rem;
      }
    }


    .carts {
      display: flex;
      justify-content: center;
      justify-items: center;
      flex-wrap: wrap;

    }
  }